.contactContainer {
    width: 590px;
    height: 510px;
    text-align: center;
    background-color: transparent;
    margin: auto;
    margin-bottom: 3rem;
    margin-top: 0rem;
    position: relative;
    overflow: hidden;
    margin-bottom: 5rem;
    text-align: center;
    z-index: 10000;
}

.contact-container {
    position: relative;
    overflow: hidden;
    text-align: center;
    
}

.contactForm {
    width: 100%;
    height: 50%;
    position: relative;
    
    color: rgb(240, 230, 230);
    margin: auto;
    margin-top: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.form-control {
    width: 150%;
    height: 15%;
    padding-top: 15px;
    border: none;
    position: relative;
    margin-top: 2.4rem;
    outline: none;
    background: transparent;
    border-bottom: 1px solid white;
    color: white;
    z-index: 10000;
}

.form-message {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    min-height: 45%;
    max-height: 45%;
    padding-top: 35px;
    border: none;
    position: relative;
    outline: none;
    background: transparent;
    border-bottom: 1px solid white;
    color: white;
    margin-top: 2rem;
    z-index: 10000;
}

.label-name {
    margin-top: 0.5rem;
    position: absolute;
    left: 0;
    color: var(--primaryColor);
    pointer-events: none;
}

.form-message:focus + .label-name .content-name,
.form-message:valid + .label-name .content-name
 {
    transform: translateY(-1.5rem);
    font-size: 14px;
}

.form-message:focus + .label-name .content-message,
.form-message:valid + .label-name .content-message
 {
    transform: translateY(-1.5rem);
    font-size: 14px;
}

.form-control:focus + .label-name .content-name,
.form-control:valid + .label-name .content-name
 {
    transform: translateY(-1.5rem);
    font-size: 14px;
}


.content-name {
    position: absolute;
    bottom: 1rem;
    left: 0;
    transition: all 0.3s ease;
    color: var(--thirdColor);
}

.content-message {
    position: absolute;
    bottom: -3rem;
    left: 0;
    transition: all 0.3s ease;
    color: var(--thirdColor);
}

.contact-title {
    color: var(--thirdColor);
    margin-top: 0rem;

}

.contact-text {
    width: 350px;
    margin: auto;
    color: var(--thirdColor);
}

.contactt-btn {
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid var(--thirdColor);;
    color: var(--thirdColor);
    padding: 0.5rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    margin: auto;
    margin-top: 2rem;
}

.contact-btn:hover {
    background-color: rgb(240, 230, 230);
    color: rgb(24, 22, 22);

}

.awesome {
   font-size: 4rem;
   margin-top: 1rem;
   color: var(--primaryColor);
}

.contacts {
  color: #f0e6e6;
  font-size: 2.4rem;
  width: 100%;
  padding: 0.4rem;
}

.contact-div {
    background-color: #0d131c;
    width: 25%;
    margin: auto;
}

.contact-form {
    cursor: pointer;
    transition: 0.2s ease-in-out;
    color: rgb(240, 230, 230);
    outline: none;
}

.contact-form:hover {
    background-color: rgb(240, 230, 230);
    color: rgb(182, 36, 36);

}

.contactArea {
    display: flex;
    justify-content: center;
    padding-top: 4rem;
}

.contact-address-title {
    margin-left: 5rem;
    font-size: 3rem;
    text-align: center;
    margin-top: 2rem;
    color: var(--thirdColor);
}

.contact-address-text {
    width: 500px;
    margin-left: 6rem;
    margin-top: 1rem;
    text-align: center;
    font-size: 1.3rem;
    color: var(--thirdColor);
    z-index: 10000;
    font-family: Arial, Helvetica, sans-serif;
}

.address-list {
    margin-top: 2rem;
    margin-left: 3rem;
    text-align: center;
}

.address-unit {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--thirdColor);
}

.contact-place {
    height: 219vh;
    margin-top: -4rem;
    background-color: var(--primaryColor);
}

.write-us {
    font-size: 4rem;
    margin-top: 8.5rem;
    text-align: center;
    color: var(--thirdColor);
}

.contact-particles2 {
    position: absolute;
    bottom: -36rem;
    left: 3rem;
    width: 1250px;
    height: auto;
    z-index: 0;
    
}

.contact-particles3 {
    position: absolute;
    top: 4rem;
    left: 2rem;
    width: 700px;
    height: auto;
    z-index: 0;
    
}

@media (max-width: 1050px) {

    .contact-address-title {
        margin-left: 3rem;
        font-size: 3rem;
        text-align: center;
        margin-top: 2rem;
        color: var(--thirdColor);
    }
    
    .contact-address-text {
        width: 500px;
        margin-left: 4rem;
        margin-top: 1rem;
        text-align: center;
        font-size: 1.3rem;
        color: var(--thirdColor);
        z-index: 10000;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .address-list {
        margin-top: 2rem;
        margin-left: 1rem;
        text-align: center;
    }
    
    .address-unit {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        color: var(--thirdColor);
    }
}

@media (max-width: 1000px) {

    .contact-address-title {
        margin-left: 2rem;
        font-size: 2.5rem;
        text-align: center;
        margin-top: 2rem;
        color: var(--thirdColor);
    }
    
    .contact-address-text {
        width: 450px;
        margin-left: 3rem;
        margin-top: 1rem;
        text-align: center;
        font-size: 1.2rem;
        color: var(--thirdColor);
        z-index: 10000;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .address-list {
        margin-top: 2rem;
        margin-left: 0rem;
        text-align: center;
        width: 300px;
        margin: auto;
        margin-top: 1rem;
    }
    
    .address-unit {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        color: var(--thirdColor);
    }
}

@media (max-width: 915px) {

    .contact-address-title {
        margin-left: 2rem;
        font-size: 2.3rem;
        text-align: center;
        margin-top: 2rem;
        color: var(--thirdColor);
    }
    
    .contact-address-text {
        width: 400px;
        margin-left: 3rem;
        margin-top: 1rem;
        text-align: center;
        font-size: 1.2rem;
        color: var(--thirdColor);
        z-index: 10000;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .address-list {
        margin-top: 2rem;
        margin-left: 0rem;
        text-align: center;
        width: 250px;
        margin: auto;
        margin-top: 1rem;
    }
    
    .address-unit {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        color: var(--thirdColor);
    }
}

@media (max-width: 850px) {

    .building {
        width: 300px;
        height: auto;
    }

    .contact-address-title {
        margin-left: 2rem;
        font-size: 2.3rem;
        text-align: center;
        margin-top: 2rem;
        color: var(--thirdColor);
    }
    
    .contact-address-text {
        width: 350px;
        margin-left: 3.5rem;
        margin-top: 1rem;
        text-align: center;
        font-size: 1.2rem;
        color: var(--thirdColor);
        z-index: 10000;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .address-list {
        margin-top: 2rem;
        margin-left: 0rem;
        text-align: center;
        width: 250px;
        margin: auto;
        margin-top: 1rem;
    }
    
    .address-unit {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        color: var(--thirdColor);
    }
}

@media (max-width: 768px) {

    .contact-particles2 {
        position: absolute;
        bottom: -36rem;
        left: 3rem;
        width: 550px;
        height: auto;
        z-index: 0;
        
    }
    
    .contact-particles3 {
        position: absolute;
        top: 4rem;
        left: 2rem;
        width: 700px;
        height: auto;
        z-index: 0;
        
    }
    

    .padding {
        margin-top: 0;
    }

    .contact-place {
        height: 150vh;
        margin-top: -4rem;
        background-color: var(--primaryColor);
    }

    .contactArea {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 4rem;
    }

    .building {
        width: 300px;
        height: auto;
        margin: auto;
        margin-top: 2rem;
    }

    .contact-address-title {
        margin: auto;
        font-size: 3rem;
        text-align: center;
        margin-top: -5rem;
        color: var(--thirdColor);
        margin-right: 1rem;
        margin-left: 1rem;
        background-color: rgb(0,0,0, 0.5);
        padding: 0.5rem;
    }
    
    .contact-address-text {
        width: 350px;
        margin: auto;
        margin-top: 2rem;
        text-align: center;
        font-size: 1.2rem;
        color: var(--thirdColor);
        z-index: 10000;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .address-list {
        margin-top: 2rem;
        margin-left: 0rem;
        text-align: center;
        width: 250px;
        margin: auto;
        margin-top: 1rem;
        z-index: 10000000;
    }
    
    .address-unit {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        color: var(--thirdColor);
        z-index: 10000000;
    }
}

@media (max-width: 770px) {

    

    .contact-place {
        height: 150vh;
        margin-top: -4rem;
        background-color: var(--primaryColor);
    }

    .contactArea {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 4rem;
    }

    .building {
        width: 300px;
        height: auto;
        margin: auto;
        margin-top: 2rem;
        z-index: 0;
    }

    .contact-address-title {
        margin: auto;
        font-size: 3rem;
        text-align: center;
        margin-top: -5rem;
        color: var(--thirdColor);
        margin-right: 1rem;
        margin-left: 1rem;
        background-color: rgb(0,0,0, 0.5);
        padding: 0.5rem;
        z-index: 1;
    }
    
    .contact-address-text {
        width: 350px;
        margin: auto;
        margin-top: 2rem;
        text-align: center;
        font-size: 1.2rem;
        color: var(--thirdColor);
        z-index: 10000;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .address-list {
        margin-top: 2rem;
        margin-left: 0rem;
        text-align: center;
        width: 250px;
        margin: auto;
        margin-top: 1rem;
        z-index: 10000000;
    }
    
    .address-unit {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        color: var(--thirdColor);
        z-index: 10000000;
    }
}

@media (max-width: 650px) {

    .contactt-btn {
        font-size: 1rem;
        background-color: transparent;
        border: 1px solid var(--thirdColor);;
        color: var(--thirdColor);
        padding: 0.5rem;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        margin: auto;
        margin-top: 2rem;
        margin-left: 7rem;
    }

    .contact-place {
        height: 235vh;
        margin-top: -4rem;
        background-color: var(--primaryColor);
    }

    .contactArea {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 4rem;
    }

    .building {
        width: 300px;
        height: auto;
        margin: auto;
        margin-top: 2rem;
    }

    .contact-address-title {
        margin: auto;
        font-size: 3rem;
        text-align: center;
        margin-top: -5rem;
        color: var(--thirdColor);
        margin-right: 1rem;
        margin-left: 1rem;
        background-color: rgb(0,0,0, 0.5);
        padding: 0.5rem;
        z-index: 1;
    }
    
    .contact-address-text {
        width: 350px;
        margin: auto;
        margin-top: 2rem;
        text-align: center;
        font-size: 1.2rem;
        color: var(--thirdColor);
        z-index: 10000;
        font-family: Arial, Helvetica, sans-serif;
        z-index: 1;
    }
    
    .address-list {
        margin-top: 2rem;
        margin-left: 0rem;
        text-align: center;
        width: 250px;
        margin: auto;
        margin-top: 1rem;
        z-index: 10000000;
    }
    
    .address-unit {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        color: var(--thirdColor);
        z-index: 10000000;
    }

    .write-us {
        font-size: 3rem;
        margin-top: 8.5rem;
        text-align: center;
        color: var(--thirdColor);
    }

    .form-control {
        width: 120%;
        height: 15%;
        padding-top: 15px;
        border: none;
        position: relative;
        margin-top: 2.4rem;
        outline: none;
        background: transparent;
        border-bottom: 1px solid white;
        color: white;
        z-index: 10000;
    }

    .contactForm {
        width: 80%;
        height: 50%;
        position: relative;
        
        color: rgb(240, 230, 230);
        margin-top: 1rem;
        margin: auto;
        margin-left: 0.5rem;
        font-family: Arial, Helvetica, sans-serif;
    }

    .label-name {
        margin-top: 0.5rem;
        position: absolute;
        left: 0;
        color: var(--primaryColor);
        pointer-events: none;
    }

    
}

@media (max-width: 600px) {

    

    .contact-place {
        height: 235vh;
        margin-top: -4rem;
        background-color: var(--primaryColor);
    }

    .contactArea {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 4rem;
    }

    .building {
        width: 300px;
        height: auto;
        margin: auto;
        margin-top: 2rem;
    }

    .contact-address-title {
        margin: auto;
        font-size: 3rem;
        text-align: center;
        margin-top: -5rem;
        color: var(--thirdColor);
        margin-right: 1rem;
        margin-left: 1rem;
        background-color: rgb(0,0,0, 0.5);
        padding: 0.5rem;
        z-index: 1;
    }
    
    .contact-address-text {
        width: 350px;
        margin: auto;
        margin-top: 2rem;
        text-align: center;
        font-size: 1.2rem;
        color: var(--thirdColor);
        font-family: Arial, Helvetica, sans-serif;
        z-index: 1;
    }
    
    .address-list {
        margin-top: 2rem;
        margin-left: 0rem;
        text-align: center;
        width: 250px;
        margin: auto;
        margin-top: 1rem;
        z-index: 10000000;
    }
    
    .address-unit {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        color: var(--thirdColor);
        z-index: 10000000;
    }

    .write-us {
        font-size: 3rem;
        margin-top: 8.5rem;
        text-align: center;
        color: var(--thirdColor);
    }

    .form-control {
        width: 120%;
        height: 15%;
        padding-top: 15px;
        border: none;
        position: relative;
        margin-top: 2.4rem;
        outline: none;
        background: transparent;
        border-bottom: 1px solid white;
        color: white;
        z-index: 10000;
    }

    .contactForm {
        width: 70%;
        height: 50%;
        position: relative;
        
        color: rgb(240, 230, 230);
        margin-top: 1rem;
        margin: auto;
        margin-left: 2rem;
        font-family: Arial, Helvetica, sans-serif;
    }

    .label-name {
        margin-top: 0.5rem;
        position: absolute;
        left: 0;
        color: var(--primaryColor);
        pointer-events: none;
    }

    
}

@media (max-width: 570px) {

    .contactt-btn {
        font-size: 1rem;
        background-color: transparent;
        border: 1px solid var(--thirdColor);;
        color: var(--thirdColor);
        padding: 0.5rem;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        margin: auto;
        margin-top: 2rem;
        margin-left: 5rem;
    }

    .contact-place {
        height: 235vh;
        margin-top: -4rem;
        background-color: var(--primaryColor);
    }

    .contactArea {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 4rem;
    }

    .building {
        width: 300px;
        height: auto;
        margin: auto;
        margin-top: 2rem;
    }

    .contact-address-title {
        margin: auto;
        font-size: 3rem;
        text-align: center;
        margin-top: -5rem;
        color: var(--thirdColor);
        margin-right: 1rem;
        margin-left: 1rem;
        background-color: rgb(0,0,0, 0.5);
        padding: 0.5rem;
        z-index: 1;
    }
    
    .contact-address-text {
        width: 350px;
        margin: auto;
        margin-top: 2rem;
        text-align: center;
        font-size: 1.2rem;
        color: var(--thirdColor);
        z-index: 10000;
        font-family: Arial, Helvetica, sans-serif;
        z-index: 1;
    }
    
    .address-list {
        margin-top: 2rem;
        margin-left: 0rem;
        text-align: center;
        width: 250px;
        margin: auto;
        margin-top: 1rem;
        z-index: 10000000;
    }
    
    .address-unit {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        color: var(--thirdColor);
        z-index: 10000000;
    }

    .write-us {
        font-size: 3rem;
        margin-top: 8.5rem;
        text-align: center;
        color: var(--thirdColor);
    }

    .form-control {
        width: 120%;
        height: 15%;
        padding-top: 15px;
        border: none;
        position: relative;
        margin-top: 2.4rem;
        outline: none;
        background: transparent;
        border-bottom: 1px solid white;
        color: white;
        z-index: 10000;
    }

    .contactForm {
        width: 60%;
        height: 50%;
        position: relative;
        
        color: rgb(240, 230, 230);
        margin-top: 1rem;
        margin: auto;
        margin-left: 3.5rem;
        font-family: Arial, Helvetica, sans-serif;
    }

    .label-name {
        margin-top: 0.5rem;
        position: absolute;
        left: 0;
        color: var(--primaryColor);
        pointer-events: none;
    }

    
}

@media (max-width: 570px) {

    .contactt-btn {
        font-size: 1rem;
        background-color: transparent;
        border: 1px solid var(--thirdColor);;
        color: var(--thirdColor);
        padding: 0.5rem;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        margin: auto;
        margin-top: 2rem;
        margin-left: 5rem;
    }

    .contact-place {
        height: 235vh;
        margin-top: -4rem;
        background-color: var(--primaryColor);
    }

    .contactArea {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 4rem;
    }

    .building {
        width: 300px;
        height: auto;
        margin: auto;
        margin-top: 2rem;
    }

    .contact-address-title {
        margin: auto;
        font-size: 3rem;
        text-align: center;
        margin-top: -5rem;
        color: var(--thirdColor);
        margin-right: 1rem;
        margin-left: 1rem;
        background-color: rgb(0,0,0, 0.5);
        padding: 0.5rem;
    }
    
    .contact-address-text {
        width: 350px;
        margin: auto;
        margin-top: 2rem;
        text-align: center;
        font-size: 1.2rem;
        color: var(--thirdColor);
        z-index: 1;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .address-list {
        margin-top: 2rem;
        margin-left: 0rem;
        text-align: center;
        width: 250px;
        margin: auto;
        margin-top: 1rem;
        z-index: 10000000;
    }
    
    .address-unit {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        color: var(--thirdColor);
        z-index: 10000000;
    }

    .write-us {
        font-size: 3rem;
        margin-top: 8.5rem;
        text-align: center;
        color: var(--thirdColor);
    }

    .form-control {
        width: 120%;
        height: 15%;
        padding-top: 15px;
        border: none;
        position: relative;
        margin-top: 2.4rem;
        outline: none;
        background: transparent;
        border-bottom: 1px solid white;
        color: white;
        z-index: 10000;
    }

    .contactForm {
        width: 50%;
        height: 50%;
        position: relative;
        
        color: rgb(240, 230, 230);
        margin-top: 1rem;
        margin: auto;
        margin-left: 5rem;
        font-family: Arial, Helvetica, sans-serif;
    }

    .label-name {
        margin-top: 0.5rem;
        position: absolute;
        left: 0;
        color: var(--primaryColor);
        pointer-events: none;
    }

    
}

@media (max-width: 520px) {

    .contactt-btn {
        font-size: 1rem;
        background-color: transparent;
        border: 1px solid var(--thirdColor);;
        color: var(--thirdColor);
        padding: 0.5rem;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        margin: auto;
        margin-top: 2rem;
        margin-left: 3rem;
    }

    .contact-place {
        height: 235vh;
        margin-top: -4rem;
        background-color: var(--primaryColor);
    }

    .contactArea {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 4rem;
    }

    .building {
        width: 300px;
        height: auto;
        margin: auto;
        margin-top: 2rem;
    }

    .contact-address-title {
        margin: auto;
        font-size: 3rem;
        text-align: center;
        margin-top: -5rem;
        color: var(--thirdColor);
        margin-right: 1rem;
        margin-left: 1rem;
        background-color: rgb(0,0,0, 0.5);
        padding: 0.5rem;
    }
    
    .contact-address-text {
        width: 350px;
        margin: auto;
        margin-top: 2rem;
        text-align: center;
        font-size: 1.2rem;
        color: var(--thirdColor);
        z-index: 10000;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .address-list {
        margin-top: 2rem;
        margin-left: 0rem;
        text-align: center;
        width: 250px;
        margin: auto;
        margin-top: 1rem;
        z-index: 10000000;
    }
    
    .address-unit {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        color: var(--thirdColor);
        z-index: 10000000;
    }

    .write-us {
        font-size: 3rem;
        margin-top: 8.5rem;
        text-align: center;
        color: var(--thirdColor);
    }

    .form-control {
        width: 120%;
        height: 15%;
        padding-top: 15px;
        border: none;
        position: relative;
        margin-top: 2.4rem;
        outline: none;
        background: transparent;
        border-bottom: 1px solid white;
        color: white;
        z-index: 10000;
    }

    .contactForm {
        width: 50%;
        height: 50%;
        position: relative;
        
        color: rgb(240, 230, 230);
        margin-top: 1rem;
        margin: auto;
        margin-left: 4rem;
        font-family: Arial, Helvetica, sans-serif;
    }

    .label-name {
        margin-top: 0.5rem;
        position: absolute;
        left: 0;
        color: var(--primaryColor);
        pointer-events: none;
    }

    
}

@media (max-width: 480px) {

    .contactt-btn {
        font-size: 1rem;
        background-color: transparent;
        border: 1px solid var(--thirdColor);;
        color: var(--thirdColor);
        padding: 0.5rem;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        margin: auto;
        margin-top: 2rem;
        margin-left: 3rem;
    }

    .contact-place {
        height: 235vh;
        margin-top: -4rem;
        background-color: var(--primaryColor);
    }

    .contactArea {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 4rem;
    }

    .building {
        width: 300px;
        height: auto;
        margin: auto;
        margin-top: 2rem;
    }

    .contact-address-title {
        margin: auto;
        font-size: 3rem;
        text-align: center;
        margin-top: -5rem;
        color: var(--thirdColor);
        margin-right: 1rem;
        margin-left: 1rem;
        background-color: rgb(0,0,0, 0.5);
        padding: 0.5rem;
    }
    
    .contact-address-text {
        width: 350px;
        margin: auto;
        margin-top: 2rem;
        text-align: center;
        font-size: 1.2rem;
        color: var(--thirdColor);
        z-index: 1;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .address-list {
        margin-top: 2rem;
        margin-left: 0rem;
        text-align: center;
        width: 250px;
        margin: auto;
        margin-top: 1rem;
        z-index: 10000000;
    }
    
    .address-unit {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        color: var(--thirdColor);
        z-index: 10000000;
    }

    .write-us {
        font-size: 2.5rem;
        margin-top: 8.5rem;
        text-align: center;
        color: var(--thirdColor);
    }

    .form-control {
        width: 120%;
        height: 15%;
        padding-top: 15px;
        border: none;
        position: relative;
        margin-top: 2.4rem;
        outline: none;
        background: transparent;
        border-bottom: 1px solid white;
        color: white;
        z-index: 10000;
    }

    .contactForm {
        width: 50%;
        height: 50%;
        position: relative;
        
        color: rgb(240, 230, 230);
        margin-top: 1rem;
        margin: auto;
        margin-left: 3rem;
        font-family: Arial, Helvetica, sans-serif;
    }

    .label-name {
        margin-top: 0.5rem;
        position: absolute;
        left: 0;
        color: var(--primaryColor);
        pointer-events: none;
    }

    
}

@media (max-width: 470px) {

    .contactt-btn {
        font-size: 1rem;
        background-color: transparent;
        border: 1px solid var(--thirdColor);;
        color: var(--thirdColor);
        padding: 0.5rem;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        margin: auto;
        margin-top: 2rem;
        margin-left: 3rem;
    }

    .contact-place {
        height: 235vh;
        margin-top: -4rem;
        background-color: var(--primaryColor);
    }

    .contactArea {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 4rem;
    }

    .building {
        width: 300px;
        height: auto;
        margin: auto;
        margin-top: 2rem;
    }

    .contact-address-title {
        margin: auto;
        font-size: 3rem;
        text-align: center;
        margin-top: -5rem;
        color: var(--thirdColor);
        margin-right: 1rem;
        margin-left: 1rem;
        background-color: rgb(0,0,0, 0.5);
        padding: 0.5rem;
    }
    
    .contact-address-text {
        width: 350px;
        margin: auto;
        margin-top: 2rem;
        text-align: center;
        font-size: 1.2rem;
        color: var(--thirdColor);
        z-index: 0;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .address-list {
        margin-top: 2rem;
        margin-left: 0rem;
        text-align: center;
        width: 250px;
        margin: auto;
        margin-top: 1rem;
        z-index: 10000000;
    }
    
    .address-unit {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        color: var(--thirdColor);
        z-index: 10000000;
    }

    .write-us {
        font-size: 2.5rem;
        margin-top: 8.5rem;
        text-align: center;
        color: var(--thirdColor);
    }

    .form-control {
        width: 120%;
        height: 15%;
        padding-top: 15px;
        border: none;
        position: relative;
        margin-top: 2.4rem;
        outline: none;
        background: transparent;
        border-bottom: 1px solid white;
        color: white;
        z-index: 10000;
    }

    .contactForm {
        width: 50%;
        height: 50%;
        position: relative;
        
        color: rgb(240, 230, 230);
        margin-top: 1rem;
        margin: auto;
        margin-left: 3rem;
        font-family: Arial, Helvetica, sans-serif;
    }

    .label-name {
        margin-top: 0.5rem;
        position: absolute;
        left: 0;
        color: var(--primaryColor);
        pointer-events: none;
    }

    
}

@media (max-width: 460px) {

    .contact-particles2 {
        position: absolute;
        bottom: -36rem;
        left: 0rem;
        width: 350px;
        height: auto;
        z-index: 0;
        display:none;
    }
    
    .contact-particles3 {
        position: absolute;
        top: 4rem;
        left: 2rem;
        width: 250px;
        height: auto;
        z-index: 0;
        display: none;
    }

    .contactt-btn {
        font-size: 1rem;
        background-color: transparent;
        border: 1px solid var(--thirdColor);;
        color: var(--thirdColor);
        padding: 0.5rem;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        margin: auto;
        margin-top: 2rem;
        
    }

    .contact-place {
        height: 225vh;
        margin-top: 0rem;
        
        background-color: var(--primaryColor);
    }

    .contactArea {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 4rem;
        margin-top: -4rem;
    }

    .building {
        width: 300px;
        height: auto;
        margin: auto;
        margin-top: 2rem;
    }

    .contact-address-title {
        margin: auto;
        font-size: 3rem;
        text-align: center;
        margin-top: -5rem;
        color: var(--thirdColor);
        margin-right: 1rem;
        margin-left: 1rem;
        background-color: rgb(0,0,0, 0.5);
        padding: 0.5rem;
    }
    
    .contact-address-text {
        width: 350px;
        margin: auto;
        margin-top: 2rem;
        text-align: center;
        font-size: 1.2rem;
        color: var(--thirdColor);
        z-index: 0;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .address-list {
        margin-top: 2rem;
        margin-left: 0rem;
        text-align: center;
        width: 250px;
        margin: auto;
        margin-top: 1rem;
        z-index: 10000000;
    }
    
    .address-unit {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        color: var(--thirdColor);
        z-index: 10000000;
    }

    .write-us {
        font-size: 2.2rem;
        margin-top: 8.5rem;
        text-align: center;
        color: var(--thirdColor);
    }

    .form-control {
        width: 170%;
        height: 15%;
        padding-top: 15px;
        border: none;
        position: relative;
        margin-top: 2.4rem;
        outline: none;
        background: transparent;
        border-bottom: 1px solid white;
        color: white;
        z-index: 10000;
    }

    .contactForm {
        width: 100%;
        height: 50%;
        position: relative;
        
        color: rgb(240, 230, 230);
        margin-top: 1rem;
        margin: auto;
        margin-left: 1.5rem;
        margin: auto;
        font-family: Arial, Helvetica, sans-serif;
    }

    .label-name {
        margin-top: 0.5rem;
        position: absolute;
        left: 0;
        color: var(--primaryColor);
        pointer-events: none;
    }

    .contactContainer {
        width: 350px;
        height: 460px;
        text-align: center;
        background-color: transparent;
        margin: auto;
        margin-bottom: 3rem;
        margin-top: 0rem;
        position: relative;
        overflow: hidden;
        margin-bottom: 5rem;
        text-align: center;
        z-index: 10000;
    }

    .bigContainer {
      
      }

    
}