.footer {
    background-color: orange;
    font-size: 4rem;
    position: absolute;
    bottom: -390vh;
    width: 100%;
    height: 13.5rem;
    z-index: -1;
}

.ccccustom-shape-divider-bottom-1616461942 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: -1;
}

.ccccustom-shape-divider-bottom-1616461942 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 117px;
}

.ccccustom-shape-divider-bottom-1616461942 .shape-fill {
    fill: orange;
}

.footerContent {
    margin-top: 8.5rem;
    text-align: center;
    z-index: 10000000000000000000;
    left: 39%;
    bottom: 0;
    font-size: 1.3rem;
    color: var(--primaryColor);
    display: flex;
    flex-direction: row;
    justify-content: center;
}



.footerText {
    margin-left: 2rem;
    margin-left: 2rem;
    margin-bottom: 0.7rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    color: var(--primaryColor);
    font-size: 2.5rem;
}

.footerDesign {
    margin-left: 2rem;
    margin-left: 2rem;
    margin-bottom: 0.7rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    color: var(--primaryColor);
    font-size: 2.5rem;
    position: relative;
    display: none;
}

.footerNumber {
    margin-left: 2rem;
    margin-left: 2rem;
    margin-bottom: 0.7rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    color: var(--primaryColor);
    font-size: 2.5rem;
    position: relative;
}

.footerNumber:hover::before {
    content: '-0203 6558 811';
    position: absolute;
    font-size: 1.3rem;
    width: 200px;
    top: -1.6rem;
    left: -2.6rem;
}

.footerDesign:hover::before {
    content: 'TadasMiloncius';
    text-align: center;
    letter-spacing: 4px;
    position: absolute;
    font-size: 1.3rem;
    width: 100px;
    top: -1.6rem;
    left: -3rem;
}

.footerNumber:hover {
    transform: scale(1.1);
}

.footerDesign:hover {
    transform: scale(1.1);
}

.footerText:hover {
    transform: scale(1.1);
}

@media (max-width: 1200px) {

    .footer {
        background-color: orange;
        font-size: 4rem;
        position: absolute;
        bottom: -520vh;
        width: 100%;
        height: 13.5rem;
        z-index: -1;
    }

}

@media (max-width: 930px) {
    .footer {
        background-color: orange;
        font-size: 4rem;
        position: absolute;
        bottom: -545vh;
        width: 100%;
        height: 13.5rem;
        z-index: -1;
    }
}

@media (max-width: 768px) {
    .footerDesign {
        margin-left: 2rem;
        margin-left: 2rem;
        margin-bottom: 0.7rem;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        color: var(--primaryColor);
        font-size: 2.5rem;
        position: relative;
        display: none;
    }

    .footerNumber:hover::before {
        content: '-0203 6558 811';
        position: absolute;
        font-size: 1.3rem;
        width: 200px;
        top: -1.6rem;
        left: -2.6rem;
        display: none;
    }
}


@media (max-width: 768px) {
    .footer {
        background-color: orange;
        font-size: 4rem;
        margin-top: -15px;
        margin-bottom: 65rem;
        width: 100%;
        z-index: -1;
        
    }
}

@media (max-width: 500px) {
    .footer {
        background-color: orange;
        font-size: 4rem;
        margin-top: -25px;
        margin-bottom: 27rem;
        width: 100%;
        z-index: -1;

    }
}

@media (max-width: 360px) {
    .footer {
        background-color: orange;
        font-size: 4rem;
        margin-top: -25px;
        margin-bottom: 25rem;
        width: 100%;
        z-index: -1;

    }
}



