
.ballons-home {
  position: absolute;
  z-index: -10;
  right: 5rem;
  top: 1.5rem;
  display: none;
}

.slidershow{
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
  }
  .middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .navigation{
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    z-index: 10000000000000000000000000000000000000;
  }
  .bar{
    width: 50px;
    height: 10px;
    border: 2px solid  var(--primaryColor);
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
  }
  .bar:hover{
    background: #fff;
  }
  
  input[name="r"]{
      position: absolute;
      visibility: hidden;
  }
  
  .slides{
    width: 500%;
    height: 100%;
    display: flex;
  }
  
  .slide{
    background-color: ;
    width: 20%;
    transition: 0.6s;
  }
  .slide img{
    width: 100%;
    height: 100%;
    z-index: 10000000000;
    
  }

  #r1:checked ~ .s1{
    margin-left: 0;
  }
  #r2:checked ~ .s1{
    margin-left: -20%;
  }
  #r3:checked ~ .s1{
    margin-left: -40%;
  }
  #r4:checked ~ .s1{
    margin-left: -60%;
  }
  #r5:checked ~ .s1{
    margin-left: -80%;
  }
  
.homeTitle {
    margin: -4.5rem;
    margin-left: 5rem;
    max-width: 600px;
    height: 350px;
    position: relative;
    padding: 2rem;
    background-color: rgba( 255, 255, 255, 0.5);
    border-radius: 20px;
    z-index: 0;
    display: flex;
    flex-direction: column;
}

.title {
  font-family: 'Ranchers', cursive;
    font-size: 6rem;
    letter-spacing: 3px;
    color: var(--thirdColor);
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
    margin-top: 2rem;
}

.title-span {
  font-family: 'Ranchers', cursive;
    font-size: 6rem;
    letter-spacing: 3px;
    color: var(--primaryColor);
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
    margin-top: 2rem;
}

.sub-title {
  font-family: 'Ranchers', cursive;
    font-size: 3rem;
    letter-spacing: 6px;
    color: var(--thirdColor);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.title-text {
  font-family: 'Ranchers', cursive;
    margin-top: 1rem;
    font-size: 1.4rem;
    color: var(--primaryColor);
    font-weight: bold;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
    
}

.title-btn {
  font-family: 'Ranchers', cursive;
    width: 21%;
    background: var(--secondaryColor);
    padding: 0.5rem;
    font-size: 1.2rem;
    color: var(--primaryColor);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    margin-top: 1rem;
    transition: 0.2s ease-in-out;
    outline: none;
    border: 4px dotted var(--primaryColor);
    cursor: pointer;
}

.title-btn:hover {
    background: var(--primaryColor);
}

.fun {
    color: var(--primaryColor);
    font-family: 'Ranchers', cursive;
}

@media (max-width: 1200px) {
  .slide img{
    margin-top: 7rem;
    width: 100%;
    height: auto;
    z-index: 10000000000;
  }
}

@media (max-width: 1000px) {

  .slide img{
    width: 100%;
    height: auto;
    z-index: 10000000000;
    margin: auto;
    margin-top: 7.4rem;
  }
}


@media (max-width: 900px) {
  .homeTitle {
    margin: -4.5rem;
    margin-left: 5rem;
    max-width: 500px;
    height: 320px;
    position: relative;
    padding: 2rem;
    background-color:rgba(255,255,255, 0.7);
    border-radius: 20px;
    z-index: 0;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 4.5rem;
    letter-spacing: 3px;
    color: var(--thirdColor);
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
    margin-top: 2rem;
}

.title-span {
    font-size: 4.5rem;
    letter-spacing: 3px;
    color: var(--primaryColor);
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
    margin-top: 2rem;
}

.sub-title {
    font-size: 3rem;
    letter-spacing: 6px;
    color: var(--thirdColor);
   
}

.title-text {
    margin-top: 1rem;
    font-size: 1.4rem;
    color: var(--primaryColor);
    font-weight: bold;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
    
}

.title-btn {
    width: 26%;
    background: var(--secondaryColor);
    padding: 0.5rem;
    font-size: 1.2rem;
    color: var(--primaryColor);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    margin-top: 1rem;
    transition: 0.2s ease-in-out;
    outline: none;
    border: 4px dotted var(--primaryColor);
    cursor: pointer;
}

.slide img{
  width: auto;
  height: 100%;
  z-index: 10000000000;
}
  
}

@media (max-width: 768px) {

  .ballons-home {
    position: absolute;
    z-index: -20;
    right: 0rem;
    top: -6rem;
    display: block;
    width: 550px;
    height: auto;
  }

  .navigation{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    z-index: 10000000000000000000000000000000000000;
  }

  .slide{
    background-color: orange;
    width: 20%;
    transition: 0.6s;
    z-index: 0
  }

  .bar{
    width: 50px;
    height: 10px;
    border: 2px solid  var(--thirdColor);
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
    z-index: 1000000000000000000000000000000000000000000000000;
  }
  .bar:hover{
    background: #fff;
  }

  .slide img{
    width: 100%;
    height: 50%;
    z-index: 10000000000;
    margin: auto;
    margin-top: 24.2rem;
    margin-right: 3rem;
  }
  

  .homeTitle {
    margin: auto;
    margin-top: -2rem;
    text-align: center;
    max-width: 500px;
    height: 310px;
    position: relative;
    padding: 2rem;
    background-color:transparent;
    border-radius: 20px;
    z-index: 0;
    display: flex;
    flex-direction: column;
}

.title-btn {
  margin: auto;
  width: 26%;
  background: var(--secondaryColor);
  padding: 0.5rem;
  font-size: 1.2rem;
  color: var(--primaryColor);
  
  margin-top: 1rem;
  transition: 0.2s ease-in-out;
  outline: none;
  border: 4px dotted var(--primaryColor);
  cursor: pointer;
}

.title {
  font-size: 4.5rem;
  letter-spacing: 3px;
  color: var(--thirdColor);
 
  margin-top: 1rem;
}

.title-span {
  font-size: 4.5rem;
  letter-spacing: 3px;
  color: var(--thirdColor);
 
  margin-top: 2rem;
}

.sub-title {
  font-size: 3rem;
  letter-spacing: 6px;
  color: var(--thirdColor);
}

.title-text {
  margin-top: 1rem;
  font-size: 1.4rem;
  color: var(--primaryColor);
  font-weight: bold;
  
}
}

@media (max-width: 540px) {
  .homeTitle {
    margin: auto;
    margin-top: 3rem;
    text-align: center;
    max-width: 470px;
    height: 290px;
    position: relative;
    padding: 2rem;
    background-color:rgba(255,255,255, 0.7);
    border-radius: 20px;
    z-index: 0;
    display: flex;
    flex-direction: column;
}

.title-btn {
  margin: auto;
  width: 30%;
  background: var(--secondaryColor);
  padding: 0.5rem;
  font-size: 1.2rem;
  color: var(--primaryColor);

  margin-top: 1rem;
  transition: 0.2s ease-in-out;
  outline: none;
  border: 4px dotted var(--primaryColor);
  cursor: pointer;
}

.title {
  font-size: 4rem;
  letter-spacing: 3px;
  color: var(--thirdColor);

  margin-top: 1rem;
}

.title-span {
  font-size: 4rem;
  letter-spacing: 3px;
  color: var(--thirdColor);
 
  margin-top: 2rem;
}

.sub-title {
  font-size: 2.5rem;
  letter-spacing: 6px;
  color: var(--thirdColor);
  
}

.title-text {
  margin-top: 1rem;
  font-size: 1.4rem;
  color: var(--primaryColor);
  font-weight: bold;
  
  
}

}

@media (max-width: 500px) {
  .homeTitle {
    margin: auto;
    margin-top: 3rem;
    text-align: center;
    max-width: 430px;
    height: 280px;
    position: relative;
    padding: 2rem;
    background-color:rgba(255,255,255, 0.7);
    border-radius: 20px;
    z-index: 0;
    display: flex;
    flex-direction: column;
}

}

@media (max-width: 470px) {
  .homeTitle {
    margin: auto;
    margin-top: 3rem;
    text-align: center;
    max-width: 390px;
    height: 280px;
    position: relative;
    padding: 2rem;
    background-color:rgba(255,255,255, 0.7);
    border-radius: 20px;
    z-index: 0;
    display: flex;
    flex-direction: column;
}

.title-btn {
  margin: auto;
  width: 35%;
  background: var(--secondaryColor);
  padding: 0.5rem;
  font-size: 1.2rem;
  color: var(--primaryColor);
  margin-top: 1rem;
  transition: 0.2s ease-in-out;
  outline: none;
  border: 4px dotted var(--primaryColor);
  cursor: pointer;
}

.title {
  font-size: 3.5rem;
  letter-spacing: 3px;
  color: var(--thirdColor);
  margin-top: 1rem;
}

.title-span {
  font-size: 3.5rem;
  letter-spacing: 3px;
  color: var(--thirdColor);
  margin-top: 2rem;
}

.sub-title {
  font-size: 2rem;
  letter-spacing: 6px;
  color: var(--thirdColor);
}

.title-text {
  margin-top: 1rem;
  font-size: 1.4rem;
  color: var(--primaryColor);
  font-weight: bold;
  
}

}

@media (max-width: 420px) {

  .ballons-home {
    position: absolute;
    z-index: -20;
    right: 0rem;
    top: 0rem;
    display: block;
    width: 250px;
    height: auto;
    display: none;
  }

  .homeTitle {
    margin: auto;
    margin-top: -5.7rem;
    text-align: center;
    max-width: 420px;
    height: 260px;
    position: relative;
    padding: 2rem;
    background-color:transparent;
    border-radius: 20px;
    z-index: 0;
    display: flex;
    flex-direction: column;
}

.title-btn {
  margin: auto;
  width: 40%;
  background: var(--thirdColor);
  padding: 0.5rem;
  font-size: 1.2rem;
  color: var(--primaryColor);
  margin-top: 1rem;
  transition: 0.2s ease-in-out;
  outline: none;
  border: 4px dotted var(--primaryColor);
  cursor: pointer;
  display: none;
}

.title {
  font-size: 3rem;
  letter-spacing: 3px;
  color: var(--thirdColor);
  
  margin-top: 1rem;
}

.title-span {
  font-size: 3rem;
  letter-spacing: 3px;
  color: var(--thirdColor);
  margin-top: 2rem;
}

.sub-title {
  font-size: 1.5rem;
  letter-spacing: 6px;
  color: var(--thirdColor);
}

.title-text {
  margin-top: 1rem;
  font-size: 1.4rem;
  color: var(--primaryColor);
  font-weight: bold;
  
}

.slide img{
  width:100vh;
  height: 50%;
  z-index: 10000000000;
  margin: auto;
  margin-top: 13.5rem;
  margin-right: 3rem;
}

}




