.profile-container {
    text-align: center;
}

.profile-title {
    font-size: 3.5rem;
    color: var(--thirdColor);
}

.form-controll {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 1rem;
    width: 50%;
}

.profileUpdate-btn {
    margin-top: 1rem;
    background: transparent;
    border: 1px solid white;
    padding: 0.7rem;
    color: var(--thirdColor);
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.profileUpdate-btn:hover {
    background-color: white;
    color: orange;
}

.form-label {
    text-align:start;
    padding: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
}

.form-input {
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    outline: none;

}

.contactContainer-dashboard {
    width: 690px;
    height: 50vh;
    text-align: center;
    background-color: var(--primaryColor);
    border-radius: 15px;
    margin: auto;
    margin-bottom: 3rem;
    margin-top: 3rem;
    position: relative;
    overflow: hidden;
    margin-bottom: 5rem;
    text-align: center;
    z-index: 10000000;
}

.contactt-btn-dashboard {
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid var(--thirdColor);;
    color: var(--thirdColor);
    padding: 0.5rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    margin: auto;
    margin-top: 2rem;
    transition: 0.2s ease-in-out;
}

.contactt-btn-dashboard:hover {
    background-color: white;
    color: orange;
}

.dashboard-image2 {
    margin-left: -4rem;
    margin-top: 14rem;
    width: 470px;
    height: auto;
    overflow: visible;
    z-index: 1000000000000000000000;
}