@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Farsan&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

.bigContainer {
  
}

.body-select {
  background-color: rgb(255, 255, 255);
  min-height: 100%;
}

html {
  overflow-x: hidden;
  z-index: 0;
  background-color: rgb(102, 174, 207);
  
}

:root {
  --primaryColor: orange;
  --secondaryColor: #dfd2d2;
  --thirdColor: white;
}

li {
  text-decoration: none;
  list-style-type: none;
}

.padding {
  padding-top: 10.5rem;
}

.error {
  font-size: 1rem;
  margin: auto;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 0.5rem;
}

@media (max-width: 768px) {

  .bigContainer {
    padding-top: 3rem
  }
}
